<%= render :partial => "layouts/nav" %>
<section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background="assets/images/restaurant/cake_pastries_bg.jpg">
  <div class="container">
    <!-- <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <div class="alt-module-subtitle"><span class="holder-w"></span>
          <h5 class="font-serif">Try our confectionery</h5><span class="holder-w"></span>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt mb-0">Entradas</h2>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row multi-columns-row">
    <!-- <h2 class="module-title font-alt">Entradas</h2> -->
      <div class="col-sm-6 col-">
        <div class="menu">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
              <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
            </div>
            <div class="col-sm-4 menu-price-detail">
              <i class="fa fa-leaf"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="menu">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
              <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
            </div>
            <div class="col-sm-4 menu-price-detail">
              <i class="fa fa-leaf"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
