<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <a class="navbar-brand" href="<%= root_path %>">J &amp; J</a>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#totop">Abertura</a></li>
        <li><a class="section-scroll" href="#information">A Ocasião</a></li>
        <li><a class="section-scroll" href="#event">Evento</a></li>
        <!-- <li><a class="section-scroll" href="#accomodation">Alojamentos</a></li> -->
        <!-- <li><a class="section-scroll" href="#hints">Dicas</a></li> -->
        <!-- <li><a class="section-scroll" href="/presentes">Lista de Presentes</a></li> -->
        <!-- <li><a class="section-scroll" href="/cardapio">Cardápio</a></li> -->
      </ul>
    </div>
  </div>
</nav>
<section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="https://res.cloudinary.com/dt7akujlg/image/upload/v1612465219/IMG-20210204-WA0010_othdbo.jpg">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-40 titan-title-size-4">2 de Outubro de 2021</div>
      <div class="font-alt mb-30 titan-title-size-4">Save the date</div>
    </div>
  </div>
</section>
<div class="main">
  <section class="module pb-0" id="information">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="module-title font-alt">Bem-vindos!</h2>
          <h2 class="module-subtitle font-alt titan-title-size-2">Para alívio de nossas mães, que já não viam a hora de sairmos de nossas casas, chegou o grande dia de unirmos o nosso amor!
          <p><div class="features-icon"><span class="icon-heart"></span></div></p>
          Aproveitem alguns minutos no nosso site, nele poderá encontrar informações do casamento, lista com sugestões de presentes e muito mais!! Contamos com a presença de todos para que o nosso dia seja ainda mais especial!
          </h2>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
    <div class="container" id="event">
      <div class="row">
        <div class="col-sm-12">
          <div class="row position-relative m-0"><div class="col-xs-12 col-md-6 side-image" data-background="https://scontent.fcgh37-1.fna.fbcdn.net/v/t1.6435-9/121573443_1289521714740810_1489921666030528069_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeEfzt4BCxiZiAaSAjWfgs1X5r78gOLJkyjmvvyA4smTKCbh8z0tBLUuCqfDywjHOeo3ZJ_LC9RdR3BBvJpcn3p8&_nc_ohc=u3Ja5yt0gP8AX_Bdawe&_nc_ht=scontent.fcgh37-1.fna&oh=62a8eb355cf44f46c5aecfb6814ea0dc&oe=60E0FE9D" style="background-image: url(&quot;assets/images/section-14.jpg&quot;);"></div><div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row multi-columns-row">
                <div class="col-md-12 col-sm-6 col-xs-12"><div class="features-item"><h3 class="features-title font-alt large-text">Evento</h3><p class="features-title font-alt">A cerimônia e a festa serão no mesmo local, na Chácara Gido Ibrahim.<br><br>Av. Emil Scaff, 122, São Roque - SP</p></div></div>
                <div class="col-md-12 col-sm-6 col-xs-12"><div class="features-item"><div class="features-icon"><span class="icon-clock"></span></div><h3 class="features-title font-alt large-text">Cronograma</h3><p class="features-title font-alt">16:30 Entrada de convidados<br>17:00 Cerimônia<br>20:00 Jantar<br>00:00 Encerramento</p></div></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </hr>
    <section class="module pb-0" id="information">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="module-title font-alt">Em breve!</h2>
            <h2 class="module-subtitle font-alt titan-title-size-2">Em breve lista de presentes, confirmação de presença, informações sobre medidas de segurança para COVID e dicas gerais, aguardem!
            </h2>
            <blockquote class="module-title font-alt titan-title-size-1"><p>“Eu entrego a minha vida, pra você fazer o que quiser de mim. Só quero ouvir você dizer que sim.” Chitãozinho e Xororó.</p></blockquote>
          </div>
        </div>
      </div>
    </section>
</div>
  <!-- <hr class="divider-w">
  <section class="module" id="accomodation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Alojamentos</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="hints">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div role="tabpanel">
            <ul class="nav nav-tabs font-alt" role="tablist">
              <li class="active">
                <a href="#clothes" data-toggle="tab">Vestimenta</a>
              </li>
              <li>
                <a href="#shoes" data-toggle="tab">Calçados</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="clothes"></div>
              <div class="tab-pane" id="shoes"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="giftlist">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Lista de Presentes</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Cardápio</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section> -->
</div>
