<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <a class="navbar-brand" href="<%= root_path %>">J &amp; J</a>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="text-center" href="#totop">Home</a></li>
        <li><a class="section-scroll text-center" href="#information">Abertura</a></li>
        <li><a class="section-scroll text-center" href="#event">Eventos</a></li>
        <li><a class="section-scroll text-center" href="#rsvp">Confirmação<br>de Presença</a></li>
        <li><a class="section-scroll text-center" href="/presentes">Lista de <br>Presentes</a></li>
        <li><a class="section-scroll text-center" href="#clothes">Vestimenta</a></li>
        <li><a class="section-scroll text-center" href="#entertainment">Entretenimento</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="https://res.cloudinary.com/dt7akujlg/image/upload/v1626484220/home_hqppyz.jpg">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-40 titan-title-size-4">2 de Outubro de 2021</div>
      <div class="font-alt mb-30 titan-title-size-4">Save the date</div>
    </div>
  </div>
</section>
<section class="module-small bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="text-align:center">
        <div class="font-alt">
          <h2>Faltam <%= ("02/10/2021".to_date - Date.today).to_i %> dias!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<% if Date.today >= "24/09/2021".to_date %>
<a class="weatherwidget-io" href="https://forecast7.com/pt/n23d53n47d14/sao-roque/" data-label_1="SÃO ROQUE" data-label_2="SP" data-theme="pure">SÃO ROQUE SP</a>
<% end %>
<section class="module pb-0" id="information" style="margin-top:-70px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="module-title font-alt">Bem-vindos!</h2>
          <h2 class="module-subtitle font-serif titan-title-size-2">Para alívio de nossas mães, que já não viam a hora de sairmos de nossas casas, chegou o grande dia de unirmos o nosso amor!
          <p><div class="features-icon"><span class="icon-heart"></span></div></p>
          Aproveitem alguns minutos no nosso site, nele poderá encontrar informações do casamento, lista de presentes e muito mais!! Contamos com a presença de todos para que o nosso dia seja ainda mais especial!
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="module" id="event">
    <div style="margin-top:-130px;margin-bottom:-130px" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row position-relative m-0"><div class="col-xs-12 col-md-6 side-image" data-background="https://res.cloudinary.com/dt7akujlg/image/upload/v1625443172/121573443_1289521714740810_1489921666030528069_n_upm7an.jpg" style="background-image: url(&quot;assets/images/section-14.jpg&quot;);"></div><div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row multi-columns-row" style="margin-top:-100px">
                <div class="col-md-12 col-sm-6 col-xs-12"><div class="features-item"><h3 class="features-title font-alt large-text">Eventos</h3><p class="features-title font-alt">A cerimônia e a festa serão no mesmo local, na Chácara Gido Ibrahim.<br><br>Estrada Emil Scaff, 122, São Roque - SP</p><p class="features-title font-alt"><a href="http://gido.com.br/">Clique para mais informações</a></p></div></div>
                <div class="col-md-12 col-sm-6 col-xs-12" style="margin-bottom:-100px"><div class="features-item"><div class="features-icon"><span class="icon-clock"></span></div><h3 class="features-title font-alt large-text">Cronograma</h3><p class="features-title font-alt">17:00 Cerimônia<br>18:00 Recepção<br>20:00 Jantar<br>00:00 Encerramento</p></div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top:30px;margin-bottom:-50px">
            <div class="features-item"><h1 class="features-title font-alt">Deixamos abaixo algumas sugestões de Hotéis próximos à chácara:</h1></div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <div class="shop-item" style="height:440px">
                  <h5 class="features-title font-alt">Hotel Araçari</h5>
                  <div class="shop-item-image"><img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/76331128.jpg?k=7a92f67af132e8b7c9a6f4adcffed7b139d0979ed8c2de496557bb77c8c5e2f1&o=&hp=1">
                    <div class="shop-item-detail"><a href="https://www.booking.com/hotel/br/aracari.pt-br.html?aid=304142;label=gen173nr-1DCAEoggI46AdIM1gEaCCIAQGYAS24ARnIAQzYAQPoAQGIAgGoAgO4AqvytIkGwAIB0gIkYmQ2ODgxODUtMGI3OS00ZGNjLTg1YjgtMjBjNDE1NzM5OGE32AIE4AIB;sid=4f42e251873a8320d5baba470dad551f;atlas_src=sr_iw_btn;checkin=2021-10-02;checkout=2021-10-03;dest_id=-672116;dest_type=city;dist=0;group_adults=2;group_children=0;highlighted_blocks=189534715_219589930_2_1_0;no_rooms=1;room1=A%2CA;sb_price_type=total;type=total;ucfs=1&" class="btn btn-round btn-b">Reservar</a></div>
                  </div>
                  <h5 class="features-title font-serif">A partir de: R$240</h5>
                  <h5 class="features-title font-serif">Distância: 12km (17 min)</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
<section class="module" id="rsvp">
  <div class="container" style="margin-top:-50px;margin-bottom:-50px;">
    <div class="row"><div class="col-sm-6 col-sm-offset-3"><h2 class="module-title font-alt">Confirmação de Presença</h2><div class="module-subtitle font-serif"></div></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group" style="width: 80%;float: left"><label class="sr-only">Nome</label><input class="form-control" type="text" id="guest_name" name="guest_name" placeholder="Nome como está no convite" required="required" data-validation-required-message="Por favor selecione seu nome da lista."></div>
        <div class="form-group"><button type="submit" id="search_name" style="width: 20%;float: left;padding: 4px"><i class="fa fa-search"></i></button></div>
        <div class="font-alt" id="contact_fields"></div>
      </div>
    </div>
  </div>
</section>
  <hr class="divider-w">
    <section id="giftlist">
      <div class="container" style="margin-top:50px;margin-bottom:50px;">
        <div class="row">
          <div class="col-md-12" style="align-itens">
            <h2 class="module-title font-alt">Lista de Presentes</h2>
            <div class="module-subtitle font-serif titan-title-size-2">Confira nossa lista de cotas de lua de mel!</div>
            <div class="hero-slider">
              <ul class="slides">
                <li class="bg-dark-30 bg-dark" style="background-image: url('https://res.cloudinary.com/dt7akujlg/image/upload/v1624588868/00206964_u1dhth.jpg'); width: 100%; float: left; opacity: 0; display: block; z-index: 1;" data-thumb-alt="">
                  <a href="/presentes">
                    <div class="titan-caption" style="top: 0px;height:300px">
                      <div class="caption-content">
                        <div class="font-alt module-title">Confira!</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="bg-dark-30 bg-dark flex-active-slide" style="background-image: url('https://res.cloudinary.com/dt7akujlg/image/upload/v1624588868/passagens-aereas-promocionais-executiva-ethiopian-airlines-bangkok-tailandia-asia-voe-simples-promocoes-sdppart1_ppfh8j.jpg'); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" data-thumb-alt="">
                  <a href="/presentes">
                    <div class="titan-caption" style="top: 0px;height:300px">
                      <div class="caption-content">
                        <div class="font-alt module-title">Confira!</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module" id="clothes" style="margin-top:-70px;margin-bottom:-140px">
      <div class="container">
        <h2 class="module-title font-alt">Vestimenta</h2>
          <h6 class="module-subtitle font-serif titan-title-size-1">
            <img src="https://guiafeminina.com.br/wp-content/uploads/2016/06/Untitqewred-3-412x274.png">
            <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625598148/florido_cnv57t.png">
            <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625598428/esporte_masculino_oohsel.png">
            <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625508479/casual_absz8k.png">
            <br><br>
            <p>Para nossa celebração, escolhemos o estilo de vestimenta <b>Esporte</b>, seguem algumas dicas:
            <br><br>
            A regra aqui é investir na roupa do cotidiano, como a tradicional calça jeans, camisa polo, sapato casual e suéter. De um modo geral, esse tipo de traje é para eventos que ocorrem durante o dia, permitindo o uso de peças curtas e leves, como bermudas e saias.
            <br><br>
            <b>Para os homens</b>, uma boa opção para compor um vestuário esporte é a calça de sarja combinada com uma camisa de tecido ou polo. Se estiver frio, um suéter ou blazer cai bem. Nos pés, opte pelos chamados sapatênis ou por sapatos casuais, como tênis não esportivos. Se estiver bem calor, uma bermuda de sarja pode ser usada com uma camiseta lisa.
            <br><br>
            <b>No caso das mulheres</b>, vestidos leves, com cores claras ou com estampas floridas, são apostas certeiras. Macacões, calças lisas ou estampadas e bermudas também podem ser boas opções. Acessórios devem ser discretos, assim como a maquiagem.
            <br><br>
            Peças com muito brilho, decotes profundos e saltos muito finos e altos devem ser evitados para manter uma aparência mais fresca e leve, por ser uma celebração ao ar livre.
            </p>
        </h6>
      </div>
    </section>
  </hr>
  <hr class="divider-w">
    <section class="module" id="entertainment" style="margin-top:-70px;margin-bottom:-140px">
      <div class="container">
        <h2 class="module-title font-alt">Entretenimento</h2>
        <h6 class="module-subtitle font-serif titan-title-size-2">
          Para quem nos conhece sabe que não poderia faltar diversão.<br><br>
          Por isso alem do salão de jogos da chácara com sinuca e pebolim, teremos <b>Karaokê</b> e área de <b>Just Dance 2021</b>!<br><br>
          <a style="color:blue" href = "https://videokeabc.com.br/">Clique aqui para conferir lista de músicas e aplicativo do Karaokê!</a>
          <br><br>
          <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625604114/jogos_vbnwy5.png">
          <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625508182/karaoke_gfxmvr.png">
          <img src="https://res.cloudinary.com/dt7akujlg/image/upload/v1625508182/justdance_i05aa2.png">
          <br><br>Preparem a voz e venham com roupas confortáveis para aproveitar.
        </h6>
      </div>
    </section>
  </hr>
  <hr class="divider-w">
</div>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');

$(function() {
  var list = ["Adauto e Família", "Alexandre e Samara", "Ana Cristine e Família", "Ana Lídia ", "Ana Meire e Família", "Ana Paula e Família", "André", "Augusto e Maria", "Cacilda e José Luis", "Camila", "Camila e Família", "Caroline", "Caroline e Christian", "Cecilia e Júlio ", "Christine e Hélio", "Claudia Gonçalves e Família", "Claudia Moura", "Cristina e Marcel", "Daisy", "Débora e Maurício", "Douglas e Familia", "Edenize e Cláudio", "Edilaneide e Família ", "Elivalda", "Emerson e Andressa", "Eric e Familia", "Fábio e Família  ", "Felipe", "Felipe e Victoria", "Fernanda", "Fernando", "Flavio e Victor", "Geórgia", "Gilberto", "Gisele", "Guilherme e Fernanda", "Heloísa e Isadora", "Hosana e Família", "Isabel", "Ivanete e Família", "Jaqueline e Família", "Joel e Familia", "Jonas e Luana", "Jonathan e Graziele", "Laura e Familia", "Leandro Dorta e Família", "Leandro Santos", "Leandro Scatamburlo e Familia", "Leonilda e Yuri", "Lourdes", "Marcelo e Família", "Marcio e Família", "Marcos Moura e Família", "Marina e Felipe", "Miriam", "Natalia e Thiago", "Nathalia", "Nitay e Ana Paula", "Patrícia", "Paula e Felipe", "Rafael e Alana", "Rafael e Giselle ", "Raimunda e Miguel", "Raisa e Família", "Renata e Cristiano", "Robinson", "Rogério", "Rosicleide e Roger", "Rosicler e Odair", "Ryan e Lais", "Simone e Jorge", "Simone Gonçalves e Família", "Socorro e Família ", "Steffani e Wendel", "Tatiana e Renato", "Thaís e Familia", "Thales e Família", "Thayssa e André", "Thiago e Fabíola ", "Thiago e Família", "Valdir e Sandra", "Vânia e Família", "Vinicius", "Vinicius e Leydjane", "Wanderlei e Família", "Wanderson","Stefani","Lucas e Mayara","Carolina","Saulo","Erivaneide e José Serverino","Samuel"];

  $("#guest_name").autocomplete({
    source: list
  });

});
$(document).on("click", "#search_name", function() {
  var name = $("#guest_name").val().replace(/\s+/g, '');
  $("#contact_fields").load("/guest_search?name=" + name);
});
</script>
