<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <a class="navbar-brand" href="<%= root_path %>">J &amp; J</a>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#totop">Apresentação</a></li>
        <li><a class="section-scroll" href="#information">Informações</a></li>
        <li><a class="section-scroll" href="#event">Evento</a></li>
        <li><a class="section-scroll" href="#accomodation">Alojamentos</a></li>
        <li><a class="section-scroll" href="#hints">Dicas</a></li>
        <li><a class="section-scroll" href="/presentes">Lista de Presentes</a></li>
        <li><a class="section-scroll" href="/cardapio">Cardápio</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="https://res.cloudinary.com/dt7akujlg/image/upload/v1612465219/IMG-20210204-WA0010_othdbo.jpg">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-40 titan-title-size-4">2 de Outubro de 2021</div>
      <div class="font-alt mb-30 titan-title-size-4">Save the date</div>
    </div>
  </div>
</section>
<div class="main">
  <section class="module" id="information">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Bem-vindos!</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="event">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Evento</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="accomodation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Alojamentos</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="hints">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div role="tabpanel">
            <ul class="nav nav-tabs font-alt" role="tablist">
              <li class="active">
                <a href="#clothes" data-toggle="tab"><span class="icon-tshirt"></span>Vestimenta</a>
              </li>
              <li>
                <a href="#shoes" data-toggle="tab"><span class="icon-boot"></span>Calçados</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="clothes"></div>
              <div class="tab-pane" id="shoes"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="giftlist">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Lista de Presentes</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module" id="menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Cardápio</h2>
          <div class="module-subtitle font-serif titan-title-size-1">Mais informações em breve!</div>
        </div>
      </div>
    </div>
  </section>
</div>
